<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ini Aslab</h1>
    <h1>Welcome, <%= userName %></h1>
    <p>User ID: <%= userId %></p>
    <p>User Name: <%= userName %></p>
    <p>User Email: <%= userEmail %></p>
    <p>User Role: <%= userRole %></p>

    <a href="/aslab/home" class="btn btn-primary">Kembali</a>
    <a href="/aslab/ubahPassword"  >
        Change password
      </a>
  
</body>
</html>