<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- <link rel="stylesheet" href="/stylesheets/output.css"> -->
</head>

<body>
  <div class="container">
    <%- include('sidebar.ejs') %>
    <h1 class="text-2xl m-8">Selamat datang </h1>
      <div class="flex px-60 m-12 mt-24 mr-9 mx-auto h-128 bg-gray-100 rounded-xl drop-shadow-xl">
        <div class="data">
               
          <h1>Ini detail aslab</h1>
          <h1>Welcome, aslab!</h1>
          <p>User ID: <%= userId %></p>
          <p>User Role: <%= userRole %></p>
          <p>User Email: <%= userEmail %></p>
          <p>User Nama: <%= userNama %></p>


          <a href="/aslab/akun" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">Detail</a>
          <form method="POST" action="/logout">
            <button type="submit" class="m-4 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-red-500 text-red-500 hover:border-red-400 hover:text-red-400 disabled:opacity-50 disabled:pointer-events-none" href="/logout">
              Logout
            </button>
          </form>
        </div>
        
      </div>
      
  </div>
</body>

</html>